

.temp/
node_modules/
yarn.lock

package-lock.json

.history/
.idea/
build/
Thumbs.db
.DS_Store
.gradle
build/
classes/
bin/
out/
.idea
*.iml
*.ipr
*.iws
*.log
*.log.*
.project
.settings
.classpath
.vscode
yarn.lock

lib/
