@import '~antd/dist/antd.css';

.logo {
    height: 49px;
    width: 220px;
    background: url('asset/logo.png'), no-repeat;
    margin: 8px;
}

.portal_layout {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    font-weight: bolder;
}

.portal_body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #f3f3f3;
    box-shadow: 0 2px 8px #f0f1f2
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 10px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
